[Unit]
Description=Nexus Repository Manager
After=network.target

[Service]
Type=forking
User=kirigiri
Group=kirigiri
ExecStart=/home/downloads/nexus-3.72.0-04/bin/nexus start
ExecStop=/home/downloads/nexus-3.72.0-04/bin/nexus stop
Restart=on-abort

[Install]
WantedBy=multi-user.target
